
<ion-content>
  <div class="container">
    <div class="sous">
      <div id="user" >
      </div>
    </div>
    <ion-toolbar id="toolbar" color="lavend">
      <ion-buttons slot="start">
        <ion-button  [routerLink]="['/onglet/home']">
          <ion-icon color="light" slot="start" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <h4 id="logo">Formulaire Réservation </h4>
    
    </ion-toolbar>
      <br><br><br>
      <ion-card id="containerS1" ><br><br>
        <ion-grid class="design">
          <!-- <ion-row size="12">
            <ion-col size="5">
            </ion-col>
          </ion-row> -->
          <form>
            <div class="contain">
              <br> <br>
              <h5 >
                <label>Veuillez entrer la date de début :</label>
                <input type="date" id="rond">
              </h5>
              <br><br>
              <h5 >
                <label>Veuillez entrer la date de fin :</label>
                <input type="date" id="rond">
              </h5>
              <br><br>
              <h5 >
                <label>Veuillez entrer l'heure de début :</label>
                <input type="time" id="rond">
              </h5>
            <br><br>
            <h5 >
              <label>Veuillez entrer l'heure de fin :</label><br>
              <input type="time" id="rond">
            </h5>
          <br>
            <br>
            <div class="btn">
              <ion-button>Soumettre</ion-button>
            </div>
            </div>
          </form>
        </ion-grid>
        <ion-card-content>
              
            
            
        </ion-card-content>
      </ion-card>

       <br><br>
      </div>
    <div >
  </div>
</ion-content>
