.contain{
    align-content: center;
    text-align: center;
}

.btn{
    align-content: center;
    text-align: center;
}

.linkcompte{
    align-content: center;
    text-align: center;  
}

#rond{
    border-radius:  8px 8px 8px 8px ;
    height: 30px;
}

#head{
    text-align: center;
    color: gray;
    font-family: 'Times New Roman', Times, serif;
}
