
<ion-content>
  <div id="head">
    <img src="../assets/logoreza.jpg" weight= "50" height="200" />
    <h3 id="head">CONNEXION</h3>
    <br> <br>
    <img src="../assets/user.png" weight= "120" height="120" />
  </div>
  <form  [formGroup]="formulairelogin" (ngSubmit)="onSubmit()">
    <div class="contain">
      <br> <br>
        <h5 >
          <input type="text" formControlName="email" placeholder="Email" id="rond">
        </h5>
      <br>
      <h5><input type="password" formControlName="password" placeholder="Mot de passe"id="rond"></h5>
      <br>
    </div>
    <br>
    <div class="btn">
      <ion-button type="submit" shape="round">Connexion</ion-button>
    </div>
  </form>
  <br>
  <div class="linkcompte">
    <h6  [routerLink]="['/inscription']" >Créer un compte?</h6>
  </div>
</ion-content>
