<!-- 
<ion-content>
    <div class="container">
      <div class="sous">
        <div id="user" >
          <img src="../assets/icon/profil.png" />
        </div>
      </div>
        <ion-toolbar color="lavend">
          <ion-buttons slot="end"></ion-buttons>
          <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
          </ion-buttons>
          <h4 id="logo">REZA</h4>
        </ion-toolbar>  
        
        </div>
      <div >
    </div>
  </ion-content> -->
 
  
  <ion-content>
    <div class="container">
      <div class="sous">
        <div id="user" >
            <img src="../assets/icon/profil.png" />
        </div>
    </div>
    <ion-toolbar color="lavend">
      <ion-buttons slot="start">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <h4 id="logo">Profil</h4>
    </ion-toolbar>  
    <br><br><br><br><br><br><br><br><br>
    <form>
      <ion-card id="containerS1" >
        <ion-card-header><ion-label id="h"> </ion-label></ion-card-header>
        <ion-card-content>
              <ion-item>
                <ion-grid fixed>
                  <ion-row>
                    <ion-col size="12"><label class="user-info" position="stacked">Nom:&nbsp;&nbsp;{{infosClient.firstname}} </label></ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item><br>
              <ion-item>
                <ion-grid fixed>
                    <ion-row>
                        <ion-col size="12"><label class="user-info" position="stacked">Prénom:&nbsp;&nbsp;{{infosClient.lastname}}</label></ion-col>
                    </ion-row>
                </ion-grid>
              </ion-item><br>
              <ion-item>
                <ion-grid fixed>
                    <ion-row>
                        <ion-col size="12"><label class="user-info" position="stacked">Sexe:&nbsp;&nbsp;{{infosClient.sex}}</label></ion-col>
                    </ion-row>
                </ion-grid>
              </ion-item><br>
              <ion-item>
                <ion-grid fixed>
                    <ion-row>
                        <ion-col size="12"><label class="user-info" position="stacked">Téléphone:&nbsp;&nbsp;{{infosClient.phone}}</label></ion-col>
                    </ion-row>
                </ion-grid>
              </ion-item><br>
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;
              <ion-button  [routerLink]="['/onglet/formulairemodifclient']"><ion-icon name="pencil-outline"></ion-icon>&nbsp;Editer profil</ion-button>
        </ion-card-content>
      </ion-card>
    </form>
    </div>
    
  </ion-content>
  