
<ion-content>
  <div class="container">
    <div class="sous">
      <div id="user" >
        <img src="../assets/icon/profil.png" />
      </div>
    </div>
      <ion-toolbar color="lavend">
        <ion-buttons slot="end"></ion-buttons>
        <ion-buttons slot="start">
          <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <h4 id="logo">Accueil</h4>
      </ion-toolbar>
      <br><br><br><br><br><br><br><br><br>
        <ion-searchbar></ion-searchbar>
    <br> <br> <br>
    <ion-card id="containerS1" ><br><br>
        <ion-grid class="design">
          <ion-row size="12">
            <ion-col size="5">
              <img src="../assets/cvPhoto.jpg" />
            </ion-col>
            <ion-col size="6">
              <h5> <b>Salle :</b></h5>
              <h5><b>Location :</b></h5>
              <h5><b>Statut :</b></h5>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
              <div id="disposition" >
                <ion-button type="submit"><ion-icon name="heart-outline"></ion-icon></ion-button>
                <ion-button type="submit"><ion-icon name="heart-outline"></ion-icon></ion-button>
                <br>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
       <br>
       <br><br>    
      </div>
    <div >
  </div>
</ion-content>
